<div class="p-4 bg-white rounded-lg shadow-md w-full max-w-md mx-auto">
    <p class="text-gray-700 text-base mb-4">
      You have received a file called <span class="font-medium text-black">
        <div class="flex justify-center items-center ">
            <img
              class="w-32 h-32 rounded-2xl"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMeFkOjV9Wtvr7GXPSLsihpI1StSNGJ7ACkA&s"
              alt="cat"
            />
          </div>
          
      </span>
    </p>
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow-md transition duration-200"
      (click)="openBottomSheet()"
    >
      Open file
    </button>
  </div>
  