<div class="custom-back-button-container">
  <button class="custom-back-button" (click)="goBack()">⟵Back</button>
</div>

<div class="feedback-wrapper">
  <div class="feedback-container">
    <h2>User Feedback</h2>
    <form (submit)="SubmitBtn(); $event.preventDefault();">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" name="name" required />

      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" required />

      <label>Feedback</label>
      <textarea [(ngModel)]="feedback" name="feedback" required></textarea>

      <button type="submit">Submit Feedback</button>
    </form>
  </div>

  <div class="review-display" *ngIf="feedbackList.length">
    <h2>Submitted Feedback</h2>

    <div *ngFor="let fb of feedbackList; let i = index" class="feedback-item">
      <p><strong>Name:</strong> {{ fb.name }}</p>
      <p><strong>Email:</strong> {{ fb.email }}</p>
      <p><strong>Feedback:</strong> {{ fb.feedback }}</p>

      <div class="delete-div">
        <button class="delete-btn" (click)="delete(i)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Toast Notification -->
<div 
  *ngIf="message"
  [ngClass]="{
    'toast': true,
    'toast-success': message === 'Feedback Submitted!',
    'toast-delete': message === 'Feedback deleted!'
  }"
>
  {{ message }}
</div>
