<div class="hero">
  <div class="hero-image"></div>
  <div class="hero-content">
    <h1>Oops! Page Not Found.</h1>
    <p>
      You’ve wandered off the trail and into the digital jungle. The path you're
      searching for has vanished—maybe overgrown, maybe never there at all.
      Don’t worry, adventurer... retrace your steps and try a new route!
    </p>
    <button routerLink="/" class="btn-class-name">
      <span class="back"></span>
      <span class="front"></span>
    </button>
  </div>
</div>
