<div class="w-full mx-auto p-6 ">
  
  
    <div
      *ngFor="let faq of faqs; let i = index"
      class="mb-4 border border-gray-200 rounded-lg shadow transition-all duration-300"
    >
      <button
        class="w-full px-4 py-3 text-left bg-gray-100 hover:bg-gray-200 transition duration-200 flex justify-between items-center rounded-t-lg"
        (click)="toggleFAQ(i)"
      >
        <span class="font-semibold text-gray-800">{{ faq.question }}</span>
        <svg
          class="w-5 h-5 transform transition-transform duration-200"
          [ngClass]="{ 'rotate-180': faq.open }"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div
        class="px-4 py-3 bg-white text-gray-700 transition-all duration-300 overflow-hidden"
        *ngIf="faq.open"
      >
        {{ faq.answer }}
      </div>
    </div>
  </div>
  