/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Show scrollbar on all scrollable elements */
::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 6px;
  }
  
  .snackbar-success {
    background-color: #4caf50; /* Green */
    color: white;
  }