.not-found-container {
    text-align: center;
    margin-top: 100px;
    color: #555;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .not-found-container p {
    font-size: 1.2rem;
  }
  
  .not-found-container a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
  }
  