/* Footer copyright styles */
footer {
    background-color: white;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 1rem;
    color : #000;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  footer {
    animation: fadeIn 1s ease-in-out;
  }

  .footer-link {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
  }
  
  .footer-link:hover {
    text-decoration: none;
    color: red; /* Or any color you prefer */
  }
  