/* Footer copyright styles */
footer {
    background-color: white;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 1rem;
    color: #aaa;
  }
  